*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    min-height: 100%;
    background-color: #111010;    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; 
    height: 10%;
    width: 100%;
    position: fixed;
}
.leftnav{
    width: 10%;
    height: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftnav>:nth-child(1){
    height:50%;
    margin-left: 20px;
    margin-right: 10px;
}
.centernav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}
.centernav>:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
    border:none;
    width: 50%;
    height: 80%; 
    background-color: black; 
    border: 1px solid rgb(39, 38, 38);
    padding-left: 15px;
    font-size: medium;
    font-family: "Roboto","Arial", "sans-serif";
    
}
.centernav>:nth-child(1):focus{
    outline: none;
    border: 1px solid #3ea6ff;
}
.centernav>:nth-child(2){
    width: 7%;
    height: 82%;
    padding: 5px;
    background-color: rgb(39, 38, 38);
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
} 
.centernav>:nth-child(3){
    margin-left: 18px;
    padding: 5px;
    width: 4%;
    height: 82%;
    border-radius: 50%;
    background-color:rgb(39, 38, 38);
}
.rightnav{
    height: 80%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.rightnav>:nth-child(1){
    padding-left: 30px;
}
.rightnav>:nth-child(2){
    padding-right: 30px;
}
.main{
    height: 750px;
    /* height: 1000%; */
    padding-top: 10%;
    background-image: url(https://www.gstatic.com/youtube/img/promos/growth/ytp_lp2_background_web_dark_4098x2304.jpg);
    background-size: cover;
    color: aliceblue;
    /* height:110vh; */
    display: flex;
    flex-direction: column;
    justify-content: top;
    font-family: "Roboto","Arial", "sans-serif";
    align-items: center;
}

.logo{
    /* margin-top: 5%; */
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>img{
    height: 40%;
}
.welcome{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 220%;
}
.promosion{
    height: 10%;
    margin-top: 0.5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: "Roboto","Arial", "sans-serif";
}
.Subscribe{
    height: 10%;
    width: 17%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.Subscribe>:nth-child(1){

    height: 100%;
    width: 100%;
    background-color: #3ea6ff;;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    font-family:"Roboto","Arial", "sans-serif"; 
    font-size: 100%;
}
.trial{
    /* margin-top: 35px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    text-align: center;

}

.trial>:nth-child(2){
    color: rgb(128, 123, 123);
    margin-top: 9px;
}


.cards{
    margin-top: 10%;
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: rgb(14, 14, 18);  */
    
}

.A, .B, .C, .D{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 100%;
}

.A>:nth-child(1), .B>:nth-child(1), .C>:nth-child(1), .D>:nth-child(1){
    height: 40%;
    width: 40%;
}

.A>:nth-child(2), .B>:nth-child(2), .C>:nth-child(2), .D>:nth-child(2){
    padding-top: 10%;
    width: 70%;
    text-align: center;
    color: aliceblue;
}

.heading{
    margin-top: 8%; 
    margin-bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    font-weight: 100%;
    font-size: xx-large;
    font-family: "Roboto","Arial", "sans-serif";
    /* padding: 20%;  */
    /* background-color: blue; */
}

.plan{
    /* margin-top: 10%; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    /* background-color: red; */
    height: 45%;
}

.indivisual, .family, .student {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;

    align-items: left;
    height: 100%; 
    width: 27%;
    background-color: rgb(34, 31, 31);
    border-radius: 8%;
}
.indivisualh, .familyh , .studenth{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    height: 30%;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    color: aliceblue;
    font-family: "Roboto","Arial", "sans-serif";
}
.indivisualh>img, .familyh>img, .studenth>img{
    height: 60%;
    width: 8%;
    
}

.indivisualbdy ,.familybdy, .studentbdy{
    display: flex;
    flex-direction: column;
    justify-content:left ;
    padding-top: 15px;
    height: 60%;
    color: aliceblue;
    font-family: "Roboto","Arial", "sans-serif";
}
.indivisualbdy>:nth-child(1), .familybdy>:nth-child(1), .studentbdy>:nth-child(1){
    font-weight: smaller;
    color: rgb(128, 123, 123);
}
.indivisualbdy>:nth-child(2), .familybdy>:nth-child(2), .studentbdy>:nth-child(2){
    font-size: 150%;
    font-weight: medium;
}
.indivisualbdy>:nth-child(3), .familybdy>:nth-child(3), .studentbdy>:nth-child(3){
    margin-top: 0.5%;
    font-size: smaller;
}
.familybdy>:nth-child(4), .studentbdy>:nth-child(4){
    color: rgb(128, 123, 123);
    margin-top: 0.5%;
}
.indivisualf, .familyf, .studentf{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 20%;
}
.indivisualf>button, .familyf>button, .studentf>button{
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: medium;
    font-weight: bolder;
    background-color: rgb(77, 153, 235);
}
.features{
    width: 100%;
    height: 45%;
}
.playing{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 8%;
    padding-left: 12%;
    padding-right: 12%;
    font-family: "Roboto","Arial", "sans-serif";
    font-size: xx-large;
    text-align: center;
}
.addfree-video, .offline-video, .background-play{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 45%;
    /* background-color: purple; */
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  
}
.add-free-discription, .offline-video-discription, .background-play-discription{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8%;
    height: 100%;
    width: 50%;
    margin-left: 10%;
    
}
.offline-video-discription,.background-play-discription{
    padding-top: 10%;
}

.add-free-h, .offline-video-h, .background-play-h{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: x-large;
    margin-right: 25%;
    margin-bottom: 1.5%;
    line-height: 1.5; 
    
}
.add-free-body, .offline-video-body, .background-play-body{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: 21px;
    text-align: left;
    line-height: 1.7;
    width: 100%;
    color: rgb(178, 182, 178);
    padding-right: 20%;
}

.add-free-visuals, .offline-video-visuals, .background-play-visuals{
    height: 80%;
    padding: 2%;
}
.music{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    padding: 10%;
    height: 800px;
    max-width: 100vw;
}
.music-discription{
    /* background: linear-gradient(to right, #bd6464, #4c4c71 ); */
    background-image: url(https://www.gstatic.com/youtube/img/promos/growth/premium_lp2_large_feature_MusicModuleSquare_text_background_tablet_1284x1875.jpg);
    background-size: cover;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 53%;
}
.music-discription-content{
    padding-top: 25%;
    padding-left: 10%;
}
.music-logo{
    margin: 2%;
}
.music-logo>img{
    height: 25px;
}
.music-h{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: larger;
    margin-bottom: 2%;
}
.music-body{
    padding-right: 10%;
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: medium; 
    line-height: 1.5;
}
.music-visuals{
    max-width: 47%;
    height: 100%;
}
.music-visuals>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.try-premium{
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.try-premium-h{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: xx-large;  
    margin-bottom: 2%;
}
.try-premium-body{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: large; 
    margin-bottom: 2%; 
}
.try-premium-bt{
    height: 10%;
    width: 15%;
    margin-bottom: 2%; 
}
.try-premium-bt>button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: rgb(77, 153, 235);
    font-size: large;
    font-weight: medium;
}
.try-premium-termAndCondition{
    color: aliceblue; 
    font-family: "Roboto","Arial", "sans-serif";
    font-size: medium;  
}

@media screen and (min-width:320px) and (max-width:501px) {
    .navbar {
        height: 5%;
        width: 100vw;
        justify-content: left;
        gap: 5%;
    }
    .leftnav {
        width: 30%;
        height: 100%;
        margin-left: 1%;
        justify-content: left;
        padding: 0%;
        padding-top: 1%;
        padding-bottom: 1%;
        gap: 8%;
    }
    .leftnav>:nth-child(1) {
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    .leftnav>:nth-child(2){
        height: 70%;
    }
    .centernav {
        
        justify-content: left;
        
        height: 80%;
        width: 40%;
    }
    .centernav>:nth-child(1) {
        width: 65%;
        height: 70%; 
        padding-left: 0px;
        font-size: 7px;
    }
    .centernav>:nth-child(2) {
        height: 75%;
        width: 10%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .centernav>:nth-child(3) {
        margin-left: 5px;
        padding: 0px;
        width: 6%;
        height: 82%;
        border-radius: 50%;
        background-color: rgb(39, 38, 38);
    }
    .rightnav {
        height: 80%;
        width: 1%;
        gap: 20%;
        justify-content: left;
        
    }
    .rightnav>:nth-child(1) {
        padding-left: 0px;
        
    }
    .rightnav>:nth-child(2) {
        padding-right: 0px;
    }
    .main {
       height: 50%; 
    }
    .logo {
        margin-top: 10%; 
        height: 10%;
        width: 30%;
       
    }
    .logo>img{
        height: 100%;
        width: 100%;
    }
    .welcome {
        height: 20%;
        margin-top: 6%;
        justify-content: left;
        font-size: 70%;
    }
    .promosion {
        height: 10%;
        margin-top: 6%;
        align-items: start;
        font-size: 7px;
    }
    .Subscribe {
       margin-top: 2%;
        height: 20px;
        width: 30%;
    }
    .Subscribe>:nth-child(1) {
        background-color: #3ea6ff;
        border: none;
        border-radius: 40px;
        font-weight: 0px;
        font-size: 50%;
        padding: 300px , 20px;
    }
    .trial {
        gap: 30%;
        height: auto;
        text-align: center;
        margin-top: 2%;
    }
    .trial>p {
        font-size: xx-small;
    }
    .trial>:nth-child(2) {
        margin-top: 3%;
        font-size: xx-small;
    }
    .cards {
        margin-top: 8%;
        height: 50%;
        flex-direction: column;
    }

    
    .A, .B, .C, .D {
        justify-content: center;
    }
    .A>:nth-child(1), .B>:nth-child(1), .C>:nth-child(1), .D>:nth-child(1) {
        height: 20%;
        width: 20%;
    }
    .A>:nth-child(2), .B>:nth-child(2), .C>:nth-child(2), .D>:nth-child(2) {
        padding-top: 5%;
        font-size: 15%;
    }
    
    .heading {
        font-size: 50%;
    }
    .plan {
        flex-direction: column;
        align-items: center;
    }
    .indivisual, .family, .student {
        width: 70%;
    }
    .indivisualh, .familyh, .studenth {
        padding-top: 3%;
        padding-left: 3%;
        padding-bottom: 10px;
        font-size: xx-small;
    }
    .indivisualbdy, .familybdy, .studentbdy {
        font-size: xx-small;
    }
    .indivisualf, .familyf, .studentf {
        
        padding-top: 8%;
        padding-bottom:3%;
        
    }
    .indivisualf>button, .familyf>button, .studentf>button {
        width: 85%;
        height: 30px;
        font-size: small;
        font-weight: bold;
    }
    .playing {
        padding-left: 5%;
        padding-right: 5%;
        font-size: xx-small;
    }
    .addfree-video, .offline-video, .background-play {
        
        width: 100%;
        height: 45%;
    }
    .add-free-discription, .offline-video-discription, .background-play-discription {
        height: 100%;
        width: 100%;
        margin-left: 8%;
    }
    .add-free-h, .offline-video-h, .background-play-h {
        font-size: 40%;
        margin-top: 0.1%;
        line-height: 1;

    }
    .add-free-body, .offline-video-body, .background-play-body {
        font-size: 20%;
        line-height: 1.7;
    }
    .add-free-visuals, .offline-video-visuals, .background-play-visuals {
        height: 100%;
        width: 100%;
    }
    .add-free-visuals >img, .offline-video-visuals> img, .background-play-visuals > img{
        height: 100%;
        width: 100%;
    }
    .music {
        height: 50%;
    }
    .music-discription {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .music-discription-content {
        padding-top: 7%;
        padding-left: 15%;
    }
    .music-logo {
        margin: 0%;
        height: 15%;
        width: 50%; 
    }
    .music-logo>img {
        height: 100%;
        width: 80%;
    }
    .music-h {
        width: 100%;
        height: 30%;
        font-size: 45%;
        padding-right:4%;
    }
    .music-body {
        margin-top: 6%;
        padding-right: 10%;
        margin-bottom: 12%;
        font-size: 30%;
        line-height: 1.5;
    }
    .music-visuals {
        height: 164px;
    }
    .music-visuals>img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .try-premium {
        height: 50%;
       
    }
    .try-premium-h {
        font-size: 50%;
        margin-bottom: 5%;
    }
    .try-premium-body {
        font-size: 40%;
    }
    .try-premium-bt {
        height: 10%;
        width: 30%;
        margin-bottom: 2%;
    }
    .try-premium-bt>button {
        font-size: 50%;
        padding: 5%;
        margin: 10%;
    }
    .try-premium-termAndCondition {
        font-size: 10%;
        margin-bottom: 10%;
    }
    }
    @media screen and (min-width:501px) and (max-width:768px) {
        .navbar {
            height: 6%;
            width: 100vw;
            justify-content: left;
            gap: 5%;
        }
        .leftnav {
            width: 30%;
            height: 100%;
            margin-left: 1%;
            justify-content: left;
            padding: 0%;
            padding-top: 1%;
            padding-bottom: 1%;
            gap: 8%;
        }
        .leftnav>:nth-child(1) {
            height: 100%;
            margin-left: 0px;
            margin-right: 0px;
            
        }
        .leftnav>:nth-child(2){
            height: 70%;
        }
        .centernav {
            
            justify-content: left;
            height: 80%;
            width: 50%;
        }
        .centernav>:nth-child(1) {
            width: 80%;
            height: 70%; 
            padding-left: 0px;
            font-size: 7px;
        }
        .centernav>:nth-child(2) {
            height: 75%;
            width: 10%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .centernav>:nth-child(3) {
            margin-left: 5px;
            padding: 0px;
            width: 6%;
            height: 82%;
            border-radius: 50%;
            background-color: rgb(39, 38, 38);
        }
        .rightnav {
            height: 80%;
            width: 1%;
            gap: 20%;
            justify-content: left;
            
        }
        .rightnav>:nth-child(1) {
            padding-left: 0px;
            
        }
        .rightnav>:nth-child(2) {
            padding-right: 0px;
        }
        .main {
           height: 50%; 
        }
        .logo {
            margin-top: 10%; 
            height: 20%;
            width: 40%;
           
        }
        .logo>img{
            height: 100%;
            width: 100%;
        }
        .welcome {
            margin-top: 6%;
            justify-content: center;
            font-size: xx-large;
        }
        .promosion {
            height: 10%;
            margin-top: 6%;
            align-items: start;
            font-size: 15px;
        }
        .Subscribe {
           margin-top: 3%;
            height: 40px;
            width: 30%;
        }
        .Subscribe>:nth-child(1) {
            background-color: #3ea6ff;
            border: none;
            border-radius: 40px;
            font-weight: 0px;
            font-size: 100%;
            padding: 300px , 20px;
        }
        .trial {
            gap: 40%;
            height: auto;
            text-align: center;
            margin-top: 2%;
        }
        .trial>p {
            font-size: small;
        }
        .trial>:nth-child(2) {
            margin-top: 3%;
            font-size: small;
        }
        .cards {
            margin-top: 8%;
            height: 50%;
            flex-direction: column;
        }
    
        
        .A, .B, .C, .D {
            justify-content: center;
        }
        .A>:nth-child(1), .B>:nth-child(1), .D>:nth-child(1) {
            height: 20%;
            width: 60%;
        }
        
        .A>:nth-child(2), .B>:nth-child(2), .C>:nth-child(2), .D>:nth-child(2) {
            padding-top: 5%;
            font-size: 70%;
        }
        
        .heading {
            font-size: 100%;
            padding-left: 25%;
            padding-right: 25%;
        }
        .plan {
            flex-direction: column;
            align-items: center;
        }
        .indivisual, .family, .student {
            width: 50%;
            height: 210px;
        }
        .indivisualh, .familyh, .studenth {
            padding-top: 3%;
            padding-left: 3%;
            padding-bottom: 10px;
            font-size: small;
        }
        .indivisualbdy, .familybdy, .studentbdy {
            font-size: small;
        }
        .indivisualf, .familyf, .studentf {
            
            padding-top: 10%;
            padding-bottom:10%;
            
        }
        .indivisualf>button, .familyf>button, .studentf>button {
            width: 85%;
            height: 30px;
            font-size: small;
            font-weight: bold;
        }
        .playing {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 80%;
        }
        .addfree-video, .offline-video, .background-play {
            
            width: 100%;
            height: 45%;
        }
        .add-free-discription, .offline-video-discription, .background-play-discription {
            height: 100%;
            width: 100%;
            margin-left: 8%;
        }
        .add-free-h, .offline-video-h, .background-play-h {
            font-size: 55%;
            margin-top: 0.1%;
            line-height: 1;
    
        }
        .add-free-body, .offline-video-body, .background-play-body {
            font-size: 50%;
            line-height: 1.7;
        }
        .add-free-visuals, .offline-video-visuals, .background-play-visuals {
            height: 100%;
            width: 100%;
        }
        .add-free-visuals >img, .offline-video-visuals> img, .background-play-visuals > img{
            height: 100%;
            width: 100%;
        }
        .music {
            height: 250px;
            padding: 10%;        
        }
        .music-discription {
            height: 200px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        .music-discription-content {
            padding-top: 9%;
            padding-left: 12%;
        }
        .music-logo {
            margin: 0%;
            height: 15%;
            width: 50%; 
        }
        .music-logo>img {
            height: 100%;
            width: 80%;
        }
        .music-h {
            width: 100%;
            height: 30%;
            font-size: 60%;
            padding-right:30%;
            line-height: 1.2;
        }
        .music-body {
            margin-top: 4%;
            padding-right: 20%;
            margin-bottom: 12%;
            font-size: 50%;
            line-height: 1.5;
        }
        .music-visuals {
            height: 200px;
        }
        .music-visuals>img {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .try-premium {
            height: 50%;
           
        }
        .try-premium-h {
            margin-top: 5%;
            font-size: 80%;
            margin-bottom: 5%;
        }
        .try-premium-body {
            font-size: 70%;
        }
        .try-premium-bt {
            height: 15%;
            width: 30%;
            margin-bottom: 2%;
        }
        .try-premium-bt>button {
            font-size: 70%;
            padding: 5%;
            margin: 10%;
        }
        .try-premium-termAndCondition {
            font-size: 10%;
            margin-bottom: 10%;
        }
}